body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
}

.main-content {
  padding-top: 70px;

  @media screen and (max-width: 959px) {
    padding-top: 42px;
  }

  // iPhone fix?
  @media screen and (max-width: 599px) {
    flex: 1 0 auto !important;
  }
}

.md-button {
  text-transform: capitalize;
  padding: 0 0 0 0;
  margin: 6px 0px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 20px;

  @media screen and (max-width: 959px) {
    padding: 0px 10px;
  }
}

.small {
  font-weight: 300;
  font-size: x-small;
  .fa {
    padding-bottom: 1px;
    font-size: xx-small;
    vertical-align: bottom;
  }
}

.two-column {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  padding-bottom: 15px;

  @media screen and (max-width: 599px) {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

code {
  background-color: whitesmoke;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px 0px;
}

.call-to-action {
  width: 300px;
  height: 300px;
  margin-left: 20px;
  margin-bottom: 20px;
  float: right;
  @media screen and (max-width: 599px) {
    width: 100%;
  }

}

.introduction {

  &:after {
    content: '';
    position: absolute;
    border: whitesmoke solid 1px;
    width: 100%;
    box-sizing: border-box;
    left: 0;
  }
}


blockquote {
  background-color: rgba(0,0,0,0.05);
  margin: 0;
  min-height: 80px;
  padding: 15px 15px 15px 0px;


  &:before {
    content: '';
    float: left;
    width: 25%;
    min-height: 80px;
    height: 100%;
    background-image: url(../img/quotes.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
    padding-right: 15px;
  }
}

article {
    em {
      color: rgb(244, 81, 30);
    }
}

.location {
  .map {
    a {
      width:100%;
      background-image: url(../img/trifork-map.png);
      background-repeat: no-repeat;
      background-size: cover;
      float: right;
      height: 300px;
    }
  }
}