.footer {
  background-color: #434a56;
  color: white;
  padding-bottom: 15px;

  ul {
    padding-left: 20px;
  }
}

.social {
  height: 100px;
  color: grey;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    height: 60px;
    width: 100%;
    border-top: 1px grey solid;
    box-sizing: border-box;
  }
  .copyright {
    text-align: right;
  }
  a {
    color: grey;
    font-size: 24px;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
}