.menu {
  display: inline-flex;
  float: right;
  min-width: 30px;
}
.logo {
  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 5px;
  margin-top: 6px;
  width: 150px;
  height: 50px;
  float: left;
  @media screen and (max-width: 960px)   {
    background-position-y: 0px;
    height: 25px;
  }
}

.md-nav-bar {
  height: 60px;
}

.sidenav {
  .md-nav-bar {
    border: none;
  }
  md-nav-ink-bar {
    display: none;
  }
  ul {
    display: block;
  }
  .md-nav-item:first-of-type {
    margin-left: 0px;
  }
  a._md-nav-button.md-accent.md-button {
    width: 100%;
    text-align: left;
  }
}

.md-button._md-nav-button {
    padding: 20px 16px;
}
