
.wwh {
  padding-top: 15px;
  padding-bottom: 15px;

  button {
    width: 95%;
  }

  .circle {
    width: 50%;
    top: 15px;
    margin: 0px auto;

    img {
      width: 100%;
    }

  }
  .card {
    height: 100%;
  }

}

.wwh-span {
  text-align: center;
}

